@model Post

<div class="row">

    <div class="col-lg-8">

        <div class="card">
            <div class="card-header">
                <h5>

                    @Model.Title
                </h5>

            </div>
            <div class="card-body">
                @foreach (var t in @Model.Tags)
                {
                    <span class="btn btn-primary">@t.Text</span>

                }

                <div class="card-img mt-3">
                    <img src="/img/@Model.Image" alt="" class="card-img rounded">
                </div>
                <div class="card-text mt-3">
                    <p> @Model.PostContent</p>
                    <hr>
                    <p>@Model.PublishedOn</p>
                </div>

                <div id="yorumlar">
                    @await Component.InvokeAsync("Comments", @Model.PostId)



                </div>
                <div>
                    <div class="row mt-5">

                        <div id="yorumCardList" class="card">
                            <div class="card-header text-primary align-items-center">
                                <h6>Yorum Yap</h6>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="yorumText" class="form-label">Yorumunuz</label>
                                    <textarea class="form-control" id="txtYorumText" rows="3"></textarea>
                                </div>

                                <div class="mb-3 d-flex justify-content-end">
                                    <button class="btn btn-success " id="btnYorumKaydet">Yorumu Kaydet</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-lg-4">
        @await Component.InvokeAsync("PostTags")
        @await Component.InvokeAsync("LastPosts")

    </div>
</div>


@section Scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/lib/moment/moment.js"></script>
        <script src="/lib/moment/moment-with-locales.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

                moment().locale('tr');

            $("#btnYorumKaydet").click(function () {
        

                var data = $("#txtYorumText").val();
                var _userId = 1;
                var _postId = 1;
                var _PublishedOn = Date.now();
                var formattedDate=    moment(_PublishedOn).format('Do . MM. YYYY'); 
           
                alert(formattedDate);
                var Comment = {
                    Text: data,
                    PublishedOn: formattedDate,
                    PostId: 1,
                    UserId: 2
                }

                $.ajax({
                    url: "/Home/AddComment",
                    type: 'POST',
                    dataType: 'json',
                    data: Comment,
                    success: function (data) {
          
  
                    console.log(data);
                    console.log(data.text);


                        $("#yorumlar").append(`<section style="background-color: #eee;">
          <div class="container py-3" >
             <div class="row d-flex justify-content-center" >
                <div class="col-md-12">
                   <div class="card">
                      <div class="card-body" >
                         <div class="d-flex flex-start align-items-center">
                            <img class="rounded-circle shadow-1-strong me-3" src="/img/avatar.jpg" alt="avatar" width="60"
                               height="60" />
                            <div>
                               <h6 class="fw-bold text-primary mb-1" id="UserName"> ${data.userId}</h6>
                               <p class="text-muted small mb-0" id="tarih">
                           ${data.publishedOn}
                               </p>
                            </div>
                         </div>

                         <p class="mt-3 mb-4 pb-2" id="content">
                     ${data.text}
                         </p>




                      </div>

                   </div>
                </div>
             </div>
          </div>
       </section>`)
                    },
                    error: function (error) {

                        alert('hata')
                    }
                });

            });
        });

    </script>
}