@model Post

<div class="row">

    <div class="col-lg-8">

        <div class="card">
            <div class="card-header">
                <h5>

                    @Model.Title 
                </h5>
               
            </div>
            <div class="card-body"> 
                 
            


                      @foreach(var t in @Model.Tags){
                   <span class="btn btn-primary">@t.Text</span>
             
                    }

                <div class="card-img mt-3">
                    <img src="/img/@Model.Image" alt="" class="card-img rounded">
                </div>
                <div class="card-text mt-3">
                 <p>  @Model.PostContent</p> 
                 <hr>
                 <p>@Model.PublishedOn</p>
                </div>

                <div>
                    @await Component.InvokeAsync("Comments",@Model.PostId)
                </div>
            </div>

        </div>

    </div>
    <div class="col-lg-4">
        @await Component.InvokeAsync("PostTags")
        @await Component.InvokeAsync("LastPosts")
         
    </div>
</div>